<div class="list-item">
	<a href="#">
		<div class="list-head">
			<div class="fl">
				<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"/><span>卡拉熊</span>
			</div>
			<div class="fr">
				1小时前
			</div>
		</div>
	</a>
	<a href="#">
		<div class="item-img">
			<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg" alt="">
			<span class="item-flag"><i>06:28</i></span>
		</div>
	</a>
		<h2 class="item-title">
			<em class="icon-11"></em>
			<em class="icon-16"></em>
			大自然赋予中国人自己的食物
		</h2>
		<!-- <p class="item-desc">茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。</p> -->
	</a>
	<div class="item-icon clearfix">
		<div class="fl">
			<em class="icon-7"></em>
		</div>
		<div class="fl">
			<em class="icon-3"></em>
			<span>1020</span>
		</div>
		<!--<div class="fr">
			2017.09.29
		</div>-->
	</div>
</div>