<footer class="footer">
	<a href="#" class="link1">
		<em class="icon-1"></em>
		<p>推荐</p>
	</a>
	<a href="#" class="link2">
		<em class="icon-5"></em>
		<p>订阅</p>
	</a>
	<a href="#" class="link3">
		<em class="icon-9"></em>
		<p>我的</p>
	</a>
</footer>