<ul class="subDetails">
	<li class="msgList">
		<div class="msgNav">
			<a href="#">
				<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
				<ul class="msgNav-msg fl">
					<li class="msgNav-name">卡丁车遇上小鱼儿</li>
					<li class="msgNav-intr">爱车入迷疯狂爱爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷车迷</li>
					<li class="msgNav-fans"><span>100万</span>人订阅</li>
				</ul>
			</a>
			<div class="subscripBtn active fr" data-action="subscribe" data-subscribeid="100" data-status="0">
				<span class="show"><em>+</em>订阅</span>
				<span class="hide">已订阅</span>
			</div>
		</div>
		<ul class="msgContent">
			<li class="fl">
				<a href="#">
				<div class="imgShow">
					<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg">
					<span class="live-flag"><i class="live"></i><span>直播</span></span>
					<!--  直播视频的三种状态
					<span class="live-flag"></i><span>预约</span></span>
					<span class="live-flag"></i><span>回看</span></span>
					-->
					<!--这是点播
					<span class="item-flag">09:10</span>
					-->
				</div>
				<div class="wordSpan">北京汽车展2017公家展览...</div>
				</a>
			</li>
			<li class="fl">
				<a href="#">
				<div class="imgShow">
					<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg">
					<span class="item-flag">09:10</span>
				</div>
				<div class="wordSpan">北京汽车展2017公家展览...</div>
				</a>
			</li>
		</ul>
	</li>
	<li class="msgList">
		<div class="msgNav">
			<a href="#"> 
				<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
				<ul class="msgNav-msg fl">
					<li class="msgNav-name">卡丁车遇上小鱼儿</li>
					<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
					<li class="msgNav-fans"><span>100万</span>人订阅</li>
				</ul>
			</a>
			<div class="subscripBtn  fr" data-action="subscribe" data-subscribeid="100" data-status="0">
				<span class="show"><em>+</em>订阅</span>
				<span class="hide">已订阅</span>
			</div>
		</div>
		<ul class="msgContent">
			<li class="fl">
				<a href="#">
				<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
				<div class="wordSpan">北京汽车展2017公家展览...</div>
				</a>
			</li>
			<li class="fr">
				<a href="#">
				<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
				<div class="wordSpan">北京汽车展2017公家展览...</div>
				</a>
			</li>
		</ul>
	</li>
	<li class="msgList">
		<div class="msgNav">
			<a href="#"> 
				<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
				<ul class="msgNav-msg fl">
					<li class="msgNav-name">卡丁车遇上小鱼儿</li>
					<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
					<li class="msgNav-fans"><span>100万</span>人订阅</li>
				</ul>
			</a>
			<div class="subscripBtn  fr" data-action="subscribe" data-subscribeid="100" data-status="0">
				<span class="show"><em>+</em>订阅</span>
				<span class="hide">已订阅</span>
			</div>
		</div>
	</li>
	<li class="msgList">
		<div class="msgNav">
			<a href="#"> 
				<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
				<ul class="msgNav-msg fl">
					<li class="msgNav-name">卡丁车遇上小鱼儿</li>
					<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
					<li class="msgNav-fans"><span>100万</span>人订阅</li>
				</ul>
			</a>
			<div class="subscripBtn  fr" data-action="subscribe" data-subscribeid="100" data-status="0">
				<span class="show"><em>+</em>订阅</span>
				<span class="hide">已订阅</span>
			</div>
		</div>
	</li>
	<li class="msgList">
		<div class="msgNav">
			<a href="#"> 
				<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
				<ul class="msgNav-msg fl">
					<li class="msgNav-name">卡丁车遇上小鱼儿</li>
					<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
					<li class="msgNav-fans"><span>100万</span>人订阅</li>
				</ul>
			</a>
			<div class="subscripBtn  fr" data-action="subscribe" data-subscribeid="100" data-status="0">
				<span class="show"><em>+</em>订阅</span>
				<span class="hide">已订阅</span>
			</div>
		</div>
	</li>
</ul> 