<div class="list-item">
	<a href="#">
		<div class="item-img">
			<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg" alt="">
			<!--<span class="item-flag"><i>06:28</i></span> -->
			<span class="live-flag"><i class="live"></i><span>直播</span></span>
			<!--  直播视频的三种状态
			<span class="live-flag"></i><span>预约</span></span>
			<span class="live-flag"></i><span>回看</span></span>
			-->
		</div>
		<h2 class="item-title">
			<em class="icon-11"></em>
			<em class="icon-16"></em>
			大自然赋予中国人自己的食物
		</h2>
	</a>
	<div class="item-icon clearfix">
		<div class="fl">
			<em class="icon-7"></em>
		</div>
		<div class="fl active">
			<em class="icon-3"></em>
			<span>1020</span>
		</div>
		<div class="fr">
			2017.09.29
		</div>
	</div>
</div>