@charset "UTF-8";
body{
	font-size: 24px;
}
html,body{
	min-height: 100%;
	padding:0;
	margin:0;
}
div, p, ul, ol, li, dl, dt, dd, form, input, table, img, h1, h2, h3, h4, h5, h6, header, section, footer, nav, figure, figcaption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}
aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    box-sizing: border-box;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
 [hidden], template {
 display: none;
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:focus, a:visited {
    outline: none;
    text-decoration: none;
}
ul {
    list-style: none;
    list-style-type: none;
}
li {
    list-style: none;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: visible;
    text-transform: none;
    -webkit-tap-highlight-color: transparent;
    outline:none;
}
select {
    text-transform: none;
}
button, html input[type=button] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
img {
    border: none;
    vertical-align: top;
    display: inline-block;
}
em, i, b, strong {
    font-style: normal;
    font-weight: normal;
}
input:focus,textarea:focus {
    outline: none;
}
html{
    -webkit-tap-highlight-color: transparent;
}
body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}